
<div class="container">
  <div class="row">
    <div class="col-xs-10 darker">
      <h2>{{user.firstName}}'s Profile Page</h2>
      <h4>Edit your info :</h4>
      <hr>
      <div class="col-xs-8 col-xs-offset-2 light">
        <form action="/user/{{user._id}}/profile?_method=PATCH" method="POST" method="POST">
          <div class="form-group">
            <label for="signup">Username</label><br>
            <input class="form-control" type="text" name="username" value="{{user.username}}">
          </div>
          <div class="form-group">
            <label for="password">Password</label><br>
            <input class="form-control" type="text" name="password" value="{{user.password}}">
          </div>
          <div class="form-group">
            <label for="fist-name">First name</label><br>
            <input class="form-control" type="text" name="firstName" value="{{user.firstName}}">
          </div>
          <div class="form-group">
            <label for="last-name">Last Name</label><br>
            <input class="form-control" type="text" name="lastName" value="{{user.lastName}}">
          </div>
          <div class="form-group">
            <label for="dog-name">Your Dog's Name</label><br>
            <input class="form-control" type="text" name="dogName" value="{{user.dog}}">
          </div>

          <button class="btn btn-primary" type="submit" name="submit">Update!</button>
        </form>
      </div>
    </div>
  </div>

  </div>
</div>
