<h1>INDEX PAGE</h1>

<ul class="list-unstyled">
  {{#each review}}
  {{_id}}
    <li><a href="/index/reviews/{{_id}}">{{title}}: {{location.city}}, {{location.state}}, {{location.country}}</a></li>
  {{/each}}
</ul>
