<div class="container light">
  <div class="row">
    <div class="col-xs-4">
      <h3>Search Posts:</h3>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for='searchString'> Search List: </label>
            <input class="form-control" name='search' placeholder="Search for City">
            <button class="btn btn-md btn-default" type='submit' value='search'>Search</button>
          </div>
        </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form class="form">
        <div class="form-group">
          <button class="btn btn-md btn-default" type='submit' value='Clear Filter'>Clear</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row top-buffer bottom-buffer">
    <div class="col-md-8 col-md-offset-2">
      {{#if owner}}
        <h3>@{{owner.username}} Recent Posts:</h3>
      {{else}}
        <h3>Recent Posts:</h3>
      {{/if}}
        <ul class="list-group">
          {{#each reviews}}
              <li class="list-group-item darker"><a href="/reviews/{{_id}}">{{title}}:</a> {{location.city}}, {{location.state}}, {{location.country}}     <a href="/user/{{user._id}}">@{{user.username}}</a></li>
          {{/each}}
        </ul>
    </div>
  </div>
</div>
