
<h1>{{review.title}} - {{review.username}}</h1>
{{#if user}}<a href="/user/reviews/{{review._id}}/edit"> Edit this Review</a>
{{/if}}
<main>
<h2>{{review.location.place}}</h2>
<h3>{{review.location.city}}, {{review.location.state}}, {{review.location.country}}</h3>
<p>
  <span>{{review.createdAt}}</span>
</p>

<h4>The good:</h4>
<p>{{review.theGood}}</p>
<h4>The bad:</h4>
<p>{{review.theBad}}</p>
</main>
