<h1>{{title}}</h1>
<a href="/user/reviews/{{id}}/edit"> Edit this Review</a>
<main>
<h2>{{location.place}}</h2>
<h3>{{location.city}}, {{location.state}}, {{location.country}}</h3>
<p>
  <span>{{createdAt}}</span>
</p>

<h4>The good:</h4>
<p>{{theGood}}</p>
<h4>The bad:</h4>
<p>{{theBad}}</p>
</main>
