
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 light">
      <h2>{{review.title}}: <a href="/user/{{owner._id}}">@{{owner.username}}</a></h2><br>
      <span id="dateStamp">{{review.updatedAt}}</span>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 darker">
          <h3>{{review.location.place}}</h3>

          <h4>{{review.location.city}}, {{review.location.state}}, {{review.location.country}}</h4>

          <h5>The good:</h5>
          <p>{{review.theGood}}</p>

          <h5>The bad:</h5>
          <p>{{review.theBad}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 darker">
          <ul class="list-group">
            {{#each review.comments}}
              <li class="list-group-item dark">{{body}}   <a href="/user/{{user._id}}">@{{user.username}}</a></li>
            {{/ each}}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{#if isUser}}
            <h4><a href="/user/{{user._id}}/{{review._id}}/edit"> Edit this Review</a></h4>
          {{/if}}
          {{#if user}}
            <form class="form" action="/reviews/{{review.id}}?_method=PATCH" method="POST">
              <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea name="comment" class="form-control" placeholder="Add comment"></textarea>
              </div>
              <div class="btn-group">
                <button class="btn btn-md btn-default" type='submit' value='submit'/>Add comment</button>
              </div>
            </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
