
<div class="container">
  <div class="row">
    {{#if isUser}}
          <h4><a href="/user/{{user._id}}/{{review._id}}/edit"> Edit this Review</a></h4>
    {{/if}}
    <div class="col-lg-12 light">
      <h2>{{review.title}}: <a href="/user/{{owner._id}}">@{{owner.username}}</a></h2>
      <span id="dateStamp">{{review.updatedAt}}</span>

      <div class="row">
        <div class="col-md-11 col-xs-offset-1 post">
          <h3>{{review.location.place}}</h3>

          <h4>{{review.location.city}}, {{review.location.state}}, {{review.location.country}}</h4>
          <div class="row">
              <div class="col-md-10 col-xs-offset-2">
                <h5>The good:</h5>
                <p>{{review.theGood}}</p>
                <hr>
              </div>
              <div class="col-md-10 col-xs-offset-2">
                <h5>The bad:</h5>
                <p>{{review.theBad}}</p>
              </div>
          </div>
          <div class="col-md-12 bottom-padding">
            {{#if review.comments}}
              <h5>Comments:</h5>
            {{/if}}
            <ul class="list-group">
              {{#each review.comments}}
                <li class="list-group-item light"><span class="timestamp">{{updatedAt}}</span><br>{{body}}   <a href="/user/{{user._id}}">@{{user.username}}</a></li>
              {{/ each}}
            </ul>
            {{#if user}}
              <div class="row">
                <div class="col-md-6 col-md-offset-3 post">
                  <form class="form" action="/reviews/{{review.id}}?_method=PATCH" method="POST">
                      <div class="form-group">
                        <label for="comment"></label>
                        <textarea name="comment" class="form-control" placeholder="Add comment"></textarea>
                      </div>
                      <div class="btn-group">
                        <button class="btn btn-md btn-default" type='submit' value='submit'/>Add comment</button>
                      </div>
                  </form>
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
